* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 auto;
    gap: 40px;

    @media screen and (max-width: 768px) {
        gap: 24px;
    }

    .header {
        display: flex;
        width: 95%;
        max-width: 1328px;
        height: 60px;
        margin: 15px auto 0 auto;
        justify-content: space-between;
        align-items: center;
        color: #000;
        border-bottom: 1px solid rgba(215, 221, 233, 1);
        position: relative;

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 16px;
            font-weight: 100;
            color: rgb(0, 0, 0, 0.54);
        }

        .welcome {
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
    }

    @media screen and (max-width: 940px) {
        .header {
            h1 {
                font-size: 16px;
            }

            h2 {
                font-size: 12px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header {
            flex-direction: column;
            width: 90%;
            height: auto;
            margin: 15 auto 0 auto;
            padding-bottom: 24px;
            align-items: flex-start;

            h1 {
                font-size: 16px;
            }

            .welcome {
                left: inherit;
                transform: translateX(0);
                position: inherit;
                text-align: left;
            }
        }
    }

    .container-tasks {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        padding: 32px;
        gap: 24px;
        background-color: #ffffff;
        border: 1px solid rgba(234, 236, 240, 1);
        border-radius: 10px;

        h1 {
            text-align: center;
            color: rgb(0, 0, 0, 0.54);
            font-size: 16px;
            font-weight: 400;
        }

        .taskList {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            background-color: #ffffff;
            border: 1px dashed rgba(215, 221, 233, 1);
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            span {
                flex-grow: 1;
                margin-left: 10px;
            }

            .done {
                text-decoration: line-through;
                color: rgb(0, 0, 0, 0.54);
            }

            button {
                background-color: transparent;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
            }

            .no-tasks {
                width: 100%;
                text-align: center;
                color: rgb(0, 0, 0, 0.54);
            }

            &:hover {
                background-color: #f7f9fd;
            }
        }
    }

    .add-task-button {
        width: 90%;
        max-width: 450px;
        height: 51px;
        margin: 0 auto;
        background-image: linear-gradient(90deg, #0796d3 0%, #53c0f0 100%);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
    }

    // Modal Overlay - fundo desfocado
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px); // Desfoque de fundo
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    // Conteúdo do modal
    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-width: 450px;
        text-align: left;

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            font-size: 16px;
            letter-spacing: -0.5px;
            color: rgb(0, 0, 0, 0.54);
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .modal-buttons {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .cancel-button {
                width: 100%;
                height: 51px;
                background-color: #e7eefb;
                color: #000;
                border: none;
                border-radius: 8px;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 16px;
            }

            .add-task-button-confirm {
                width: 100%;
                height: 51px;
                background-image: linear-gradient(to right, #0796d3 0%, #53c0f0 100%);
                color: #ffffff;
                border: none;
                border-radius: 8px;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 16px;
            }

            .remove-task-button-confirm {
                width: 100%;
                height: 51px;
                background-image: linear-gradient(to right, #d30707 0%, #f05353 100%);
                color: #ffffff;
                border: none;
                border-radius: 8px;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .modal-content {
            position: relative;
            width: 100vw;
            max-width: none;
            height: 100vh;

            .modal-buttons {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}
